<div class="container-fluid p-0">
  <div class="row">
    <div class="col-lg-12">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb p-1 pl-3 shadow-sm">
          <li class="breadcrumb-item" [ngClass]="{'active': add_trigger_form_step === 'trigger_definition'}">
            Definition
          </li>
          <li class="breadcrumb-item" [ngClass]="{'active': add_trigger_form_step === 'trigger_configuration'}" *ngIf="add_trigger_form_step == 'trigger_configuration'">Configuration</li>
          <li class="breadcrumb-item" [ngClass]="{'active': add_trigger_form_step === 'trigger_schedule'}" *ngIf="add_trigger_form_step == 'trigger_schedule'">Schedule</li>
        </ol>
      </nav>
    </div>
  </div>
  <!-- <hr> -->
  <div class="row">
    <div class="col-lg-12">
      <div class="jumbotron p-4 shadow-sm" [ngSwitch]="add_trigger_form_step">
        <form id="triggerDefinitionForm" [formGroup]="triggerDefinitionForm" *ngSwitchCase="'trigger_definition'" [@addTriggerFormStepAnimate]="in" novalidate>
          <div class="form-group row justify-content-center">
            <label for="name" class="col-form-label col-sm-2 required">Name</label>
            <div class="col-sm-6" [ngClass]="{'was-validated' : triggerDefinitionForm.controls.name.invalid && (!istriggerDefinitionFormValid || triggerDefinitionForm.controls.name.dirty || triggerDefinitionForm.controls.name.touched)}">
              <input type="text" class="form-control" formControlName="name" placeholder="Trigger Name" required>
              <div *ngIf="triggerDefinitionForm.controls.name.invalid && (!istriggerDefinitionFormValid || triggerDefinitionForm.controls.name.dirty || triggerDefinitionForm.controls.name.touched)"
                class="invalid-tooltip">
                <span *ngIf="triggerDefinitionForm.controls.name.errors.required">
                  {{constants.VALIDATION_REQUIRED}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <label for="triggerType" class="col-form-label col-sm-2 required">Trigger Type</label>
            <div class="col-sm-6" [ngClass]="{'was-validated' : triggerDefinitionForm.controls.triggerType.invalid && (!istriggerDefinitionFormValid || triggerDefinitionForm.controls.triggerType.dirty || triggerDefinitionForm.controls.triggerType.touched)}">
              <ng-select [items]="triggerTypes" [selectOnTab]="true" placeholder="Select a trigger type" formControlName="triggerType"
                required>
              </ng-select>
              <input type="text" class="form-control" style="display: none" required>
              <div *ngIf="triggerDefinitionForm.controls.triggerType.invalid && (!istriggerDefinitionFormValid || triggerDefinitionForm.controls.triggerType.dirty || triggerDefinitionForm.controls.triggerType.touched)"
                class="invalid-tooltip">
                <span *ngIf="triggerDefinitionForm.controls.triggerType.errors.required">
                  {{constants.VALIDATION_REQUIRED}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <label class="col-form-label col-sm-2 required">User groups</label>
            <div class="col-sm-6" [ngClass]="{'was-validated' : triggerDefinitionForm.controls.userGroups.invalid && (!istriggerDefinitionFormValid || triggerDefinitionForm.controls.userGroups.dirty || triggerDefinitionForm.controls.userGroups.touched)}">
              <!--<ng-select [items]="userGroupsList" [multiple]="true" [selectOnTab]="true" bindValue="id" labelForId="age" bindLabel="name"
              groupBy="group"
              [selectableGroup]="true"
              [selectableGroupAsModel]="false"
              [closeOnSelect]="false" formControlName="userGroups" placeholder="Select a user group">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" (click)="selected(item$)" formControlName="userGroups"/> {{item.group | uppercase}}
              </ng-template>
              <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                  <input id="item-{{index}}" type="checkbox" [(ngModel)]="item$.selected" formControlName="userGroups"/> {{item.name}}
              </ng-template>
              </ng-select>-->
              <!--<ng-select
              [items]="userGroupsList"
              [multiple]="true"
              bindLabel="name"
              groupBy="group"
              [selectableGroup]="true"
              [selectableGroupAsModel]="false"
              [closeOnSelect]="false"
              bindValue="gender"
              formControlName="userGroups" placeholder="Select a user group">
                <ng-template ng-optgroup-tmp let-item="item" let-item$="item$" let-index="index">
                    <input name="item-{{index}}" type="checkbox" /> {{item.gender | uppercase}}
                </ng-template>
                <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
                    <input name="item-{{index}}" type="checkbox" /> {{item.name}}
                </ng-template>
            </ng-select>
              <input type="text" class="form-control" style="display: none" required>-->
              <tree-dropdown [treeData]="treeData" (selectedData)="onDataSelection($event)" formControlName="userGroups" required></tree-dropdown>
              <div *ngIf="triggerDefinitionForm.controls.userGroups.invalid && (!istriggerDefinitionFormValid || triggerDefinitionForm.controls.userGroups.dirty || triggerDefinitionForm.controls.userGroups.touched)"
                class="invalid-tooltip">
                <span *ngIf="triggerDefinitionForm.controls.userGroups.errors.required">
                  {{constants.VALIDATION_REQUIRED}}
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <label class="col-form-label col-sm-2">Active</label>
            <div class="col-sm-6">
              <ui-switch formControlName="isActive"></ui-switch>
            </div>
          </div>
          <div class="form-group row justify-content-center">
            <label class="col-form-label col-sm-2">Description</label>
            <div class="col-sm-6">
              <textarea rows="5" class="form-control" formControlName="description" placeholder="Description"></textarea>
            </div>
          </div>
        </form>
        <form id="triggerConfigurationForm" [formGroup]="triggerConfigurationForm" *ngSwitchCase="'trigger_configuration'" [@addTriggerFormStepAnimate]="in" novalidate>
          <div *ngFor="let prop of triggerConfigurationFormData">
            <div class="row form-group justify-content-center">
              <label class="col-form-label col-sm-2 display-inline" [attr.for]="prop" [ngClass]="{'required': prop.validation.required}">{{prop.label}}</label>
              <div class="col-sm-6" [ngSwitch]="prop.type" [ngClass]="{'input-group' : prop.type == 'cronExpression', 'was-validated' : triggerConfigurationForm.get(prop.key).invalid && (triggerConfigurationForm.get(prop.key).dirty || triggerConfigurationForm.get(prop.key).touched)}">

                <div class="pb-2">
                  <button *ngIf="prop.key == 'sql'" class="btn btn-primary" data-toggle="modal" data-target=".sql-builder">SQL Builder</button>
                </div>

                <!-- Populate input fields based on type -->
                <input class="form-control" *ngSwitchCase="'text'" [formControlName]="prop.key" [id]="prop.key" [type]="prop.type" [value]="prop.key" [required]="prop.validation.required">
                <div *ngSwitchCase="'text'">{{prop.key}}</div>
                <input class="form-control" *ngSwitchCase="'number'" [formControlName]="prop.key" [id]="prop.key" [type]="prop.type" [required]="prop.validation.required">
                <input class="form-control" *ngSwitchCase="'cronExpression'" [formControlName]="prop.key" [id]="prop.key" [type]="prop.type"
                  [required]="prop.validation.required">
                <input class="form-control" *ngSwitchCase="'date'" [formControlName]="prop.key" [id]="prop.key" [type]="prop.type" [required]="prop.validation.required">
                <!-- <input class="form-control" *ngSwitchCase="'time'" [formControlName]="prop.key" [id]="prop.key" [type]="prop.type" [required]="prop.validation.required"> -->
                <textarea class="form-control" rows="10" *ngSwitchCase="'textarea'" [formControlName]="prop.key" [id]="prop.key" [required]="prop.validation.required"></textarea>
                <div *ngSwitchCase="'div'">
                  <div class="form-inline col-md-1">
                    <button type="button" class="btn btn-success btn-sm" [formControlName]="prop.key" [id]="prop.key" [type]="prop.type" [value]="prop.key" [required]="prop.validation.required" (click)="add(prop.key)">Add</button>
                  </div>
                  <hr>
                  <div class="container manualTrigger" *ngIf="valueTypes.length > 0">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Key</th>
                          <th>Value</th>
                          <th></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let values of valueTypes">
                          <td>{{values.key}}</td>
                          <td>{{values.value}}</td>
                          <td><button type="button" class="btn btn-danger btn-sm" (click)="delete(values.key)">Delete</button></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!--Validation Messages -->
                <div *ngIf="triggerConfigurationForm.get(prop.key).invalid && (triggerConfigurationForm.get(prop.key).dirty || triggerConfigurationForm.get(prop.key).touched)"
                  class="invalid-tooltip">
                  <span *ngIf="triggerConfigurationForm.get(prop.key).errors.required">
                    {{constants.VALIDATION_REQUIRED}}
                  </span>
                </div>

                <div class="input-group-append" *ngSwitchCase="'cronExpression'">
                  <button type="button" class="btn btn-primary"  data-toggle="modal" data-target=".add-cornBuilder">Configure</button>
                </div>

              </div>
            </div>
          </div>
        </form>
        <div class="row">
          <div class="col-lg-12">
            <hr>
            <button type="button" class="btn btn-primary btn-md mr-2 float-right" (click)="triggerNextStep()" *ngIf="add_trigger_form_step == 'trigger_definition'">Next</button>
            <button type="button" class="btn btn-primary btn-md mr-2 float-right" (click)="saveTrigger()" *ngIf="add_trigger_form_step == 'trigger_configuration'">Save</button>
            <button type="button" class="btn btn-primary btn-md mr-2 float-right" (click)="triggerPreviousStep()" *ngIf="add_trigger_form_step == 'trigger_configuration'">Previous</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-sql-builder></app-sql-builder>
<app-corn-builder></app-corn-builder>
<button type="button" class="btn btn-primary" [hidden]="true" data-toggle="modal" data-target="#myModal">
  Open modal
</button>
<app-alert-popup></app-alert-popup>