<div class="modal fade sql-builder" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="sqlBuilderModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">SQL Query Builder</h5>
                <button type="button" class="close color-white" data-dismiss="modal" (click)="closeSqlBuilder()">&times;</button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <div class="col-lg-12 px-4">
                        <div class="container-fluid p-0">
                            <div class="row">
                              <div class="col-sm-3 pr-0-sm">
                              <div class="buildquery-tree-grid">
                                <ngTree [treeData]="treeData" (click)="searchNodes($event)" [treeConfig]="treeConfig"></ngTree>
                              </div>
                              </div>
                              <div class="col-xs-12 col-sm-9">
                                  <textarea class="form-control" autocorrect="off" autocapitalize="off" spellcheck="false" rows="10" [(ngModel)]="sqlQuery" placeholder="Enter SQL Here">{{sqlQuery}}</textarea>    
                                  <br>
                                  <button *ngFor="let sqlBtn of sqlBtns" class="btn-lightgray col-xs-4 col-sm-3" (click)="addQuery(sqlBtn.value)" type="button">{{sqlBtn.name}}</button>
                              </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 px-4">
                        <div class="container-fluid p-0">
                        <div class="row">
                        <div class="col-sm-6">
                            <div class="col-sm-6 pt-2 sqlHiddenTabs sqlHelperTab">
                                <button class="btn-blue w-100" type="button" data-toggle="collapse" data-target="#helperFx" (click)="helperQuery()">Helper F(x)</button>
                                </div>
                                <div class="col-sm-6 pt-2 sqlHiddenTabs">
                                <button class="btn-blue w-100" type="button" data-toggle="collapse" data-target="#mnemonicCollapse" (click)="mnemonicsQuery()">Mnemonics</button>
                            </div>
                        </div>
                  
                        <div class="col-xs-12 col-sm-6 pt-2">
                            <div class="float-right">
                                <button class="btn-purple" type="button" (click)="clearQuery()" [ngClass]="{disabled : sqlQuery === ''}">Clear SQL</button>
                                <button *ngIf="!showSave" class="btn-purple ml-2" type="button" (click)="validateQuery(sqlQuery)">Validate SQL</button>
                                <button *ngIf="showSave" class="btn-purple ml-2" type="button" (click)="validateQuery(sqlQuery)">Validate SQL</button>
                            </div>
                        </div>
                      </div>
                        </div>
                    </div>






                   <!-- <div class="col-xs-12 padding-top-7">
                        <div class="collapse" id="helperFx">
                            <hr class="custom-hr"/>
                            <div class="row padding-left-15 padding-right-15">
                            <div class="col-sm-5 padding-right-0-sm">
                                <input class="form-control" type="text" ng-model="helperSearchFilter" placeholder="Type to filter"/>
                            </div>
                            <div class="col-xs-12 col-sm-9"></div>
                            </div>
                            <div class="row padding-left-15 padding-right-15">
                            <div class="col-sm-5 padding-right-0-sm" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
                                <!--<select multiple style="width:100%;height:170px;">
                                    <option value="{{function.description}}" on-long-press="queryBuilderOnBtnClick(function.name, $event)" 
                                        ng-dblclick="queryBuilderOnBtnClick(function.name, $event)" ng-click="helperTextSelected(function)" 
                                        ng-repeat="function in engineFunctions | filter: helperSearchFilter" ng-selected="$index == 0">{{function.name}}</option>
                                </select>
                                <div class="padding-left-15" style="background: #FFFFFF;">
                                   <div id="helper_{{$index}}" class="option-border-bottom" style="cursor:pointer" 
                                        
                                        value="{{function.description}}" on-long-press="queryBuilderOnBtnClick(function.name, $event)" 
                                        ng-dblclick="queryBuilderOnBtnClick(function.name, $event)" ng-click="helperTextSelected(function, $index)" 
                                        ng-repeat="function in engineFunctions | filter: helperSearchFilter" ng-selected="$index == 0">{{function.name}}</div>  
                                </div>
        
        
                            </div>
                            <div class="col-xs-12 col-sm-7" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
                                <label>Description </label>
                                <div>{{helperTextDescription}}</div>
                                <br />
                                <!--
                                <label>Sample </label>
                                <div>LOWER(val)</div>
                            </div>
                            <!--<div class="col-xs-12 col-sm-9" style="padding-top:7px;">
                                <div class="pull-right">
                                    <button class="btn-blue" ng-click="queryBuilderOnBtnClick(helperText)" type="button">Select</button>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="collapse" id="mnemonicCollapse">
                            <hr class="custom-hr"/>
                            
                            <div class="row padding-left-15 padding-right-15">
                                <div class="col-xs-12 padding-right-0-sm radio">
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" id="optionsRadios1" value="" ng-model="radioMnemonicSelection" checked>
                                        All
                                      </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" id="optionsRadios2" value="DATE" ng-model="radioMnemonicSelection">
                                        Date
                                      </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="optionsRadios" id="optionsRadios3" value="GLOBAL" ng-model="radioMnemonicSelection">
                                        Global
                                      </label>
                                </div>
                            </div>
                            
                            <div class="row padding-left-15 padding-right-15">
                                <div class="col-sm-5 padding-right-0-sm">
                                    <input class="form-control" type="text" ng-model="mnemonicSearchFilter" placeholder="Type to filter"/>
                                </div>
                                <div class="col-xs-12 col-sm-9"></div>
                            </div>
                            <div class="row padding-left-15 padding-right-15">
                            <div class="col-sm-5 clearfix" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
                                <div class="padding-left-15" style="background: #FFFFFF;">
                                    <div id="mnemonic_{{$index}}" style="cursor:pointer"  class="option-border-bottom" value="{{mnemonic.description}}" on-long-press="queryBuilderOnBtnClick('[[' + mnemonic.name + ']]', $event);addMnemonicsToRule(mnemonic)" 
                                        ng-dblclick="queryBuilderOnBtnClick('[[' + mnemonic.name + ']]', $event);addMnemonicsToRule(mnemonic)" 
                                        ng-click="mnemonicTextSelected(mnemonic, $index)" 
                                        ng-repeat="mnemonic in mnemonics | filter:{type: radioMnemonicSelection} | filter: mnemonicSearchFilter" ng-selected="$index == 0">{{mnemonic.name}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-7" style="max-height: 200px; overflow-y: auto; overflow-x: hidden;">
                                <span ng-if="mnemonicType == 'GLOBAL'"><label>Value: &nbsp;</label>{{mnemonicValue}}</span>
                                <span ng-if="mnemonicType == 'DATE'"><label>Value: &nbsp;</label>{{mnemonicFunction}}</span>
                                <br />
                                <label>Description: &nbsp;</label>
                                <div>{{mnemonicTextDescription}}</div>
        
                                <br />
                            </div>
                            </div>
                        </div>-->















                
                        <div class="collapse" id="helperFx">
                            <hr class="custom-hr">
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-5 pr-0-sm">
                                    <input class="form-control" type="text" [(ngModel)]="searchHelper" placeholder="Type to filter">
                                </div>
                                <div class="col-xs-12 col-sm-9"></div>
                            </div>
                            <div class="row pl-3 pr-3">
                                <div class="col-sm-5 pr-0-sm helperSection">
                                    <div class="pl-3 helperMnemonicsNames">
                                        <div class="option-border-bottom" *ngFor="let help of helperData | filter : searchHelper" (click)="helperSelection(help.name)">{{help.name}}</div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-7 helperSection">
                                    <label>Description: &nbsp;</label>
                                    <div>{{helperDescription}}</div>
                                    <br>
                                </div>
                            </div>
                        </div>
                
                            <div class="collapse" id="mnemonicCollapse">
                                <hr class="custom-hr">
                                <div class="row pl-4 pr-3">
                                    <div class="col-xs-12 pr-0-sm radio">
                                        <label class="radio-inline mr-2">
                                            <input type="radio" name="optionsRadios" [(ngModel)]="changeData" (click)="mnemonicsTabSelection('allData')" value="allData"> All
                                        </label>
                                        <label class="radio-inline mr-2">
                                            <input type="radio" name="optionsRadios" [(ngModel)]="changeData" (click)="mnemonicsTabSelection('dateData')" value="dateData"> Date
                                        </label>
                                        <label class="radio-inline mr-2">
                                            <input type="radio" name="optionsRadios" [(ngModel)]="changeData" (click)="mnemonicsTabSelection('globalData')" value="globalData"> Global
                                        </label>
                                    </div>
                                </div>
                    
                                <div class="row pl-2 pr-3">
                                    <div class="col-sm-5 pr-0-sm">
                                        <input class="form-control" type="text" [(ngModel)]="searchMnemonics" placeholder="Type to Filter">
                                    </div>
                                    <div class="col-xs-12 col-sm-9"></div>
                                </div>
                                <div class="row pl-2 pr-3">
                                    <div class="col-sm-5 clearfix helperSection">
                                        <div class="pl-3 helperMnemonicsNames">
                                            <div class="option-border-bottom" *ngFor="let mnemonics of mnemonicsFilter | filter : searchMnemonics" (click)="mnemonicsSelection(mnemonics.name)">{{mnemonics.name}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-7 helperSection" *ngIf="mnemonicsSelectedData">
                                       <!-- <span ng-if="mnemonicType == 'DATE'" class="ng-binding ng-scope"><label>Value: &nbsp;</label>to_date(now())</span>
                                        <br>
                                        <label>Description: &nbsp;</label>
                                        <div class="ng-binding">Current business day</div>
                                        <br>
                                       </div>-->
                                       <span><label>Value: &nbsp;</label>{{mnemonicsSelectedData.value}}</span>
                                        <br>
                                        <label>Description: &nbsp;</label>
                                        <div>{{mnemonicsSelectedData.description}}</div>
                                        <br>
                                       </div>
                                    </div>
                                </div>
                            </div>
                    </div>
        </div>
    </div>
</div>




