/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@ng-select/ng-select/themes/default.theme.css";

.tabSection {
    background-color: #F7F6F6;
    margin: 3% 1%;
    border-radius: 5px;
}

.tabHeader {
    padding: 2% 1% 1% 0;
    margin: 0px;
}

p {
    margin: 0 0 5px;
}

.normalSection {
    margin: 3% 1%;
}

.showCheckbox {
   margin-top: 10%;
}

.showCheckbox label {
    vertical-align: middle;
}

.allMediaPage{
    background-color: #F7F6F6;
    border: 1px solid #ccc;
}

.allMediaHeader {
    background-color: purple;
    margin: 0 0 3% 0;
    padding: 5px;
}

.allMediaHeader h4 {
    text-align: center;
    color: #fff;
}

.triggerInput {
    padding-right : 5%;
}

.triggerButton {
    margin: 2%;
}

.tiggerScheduler button {
    position : absolute;
    top: 0px;
    right: 16px;
}

.cronWeeklyBox {
    float: left;
    padding: 2%;
}

.caret {
    display: none;
}

.table th, .table td {
    padding: 0.40rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.manualTrigger {
    margin-top: 2%;
}

.fileTrigger label {
 margin-bottom: 2%;
 float: left;
}

.dbTigger button {
 position : absolute;
 top: 0px;
}

.fileTriggerKey {
    margin: 0% 9% 0% 1%;
}

.fileTriggerValue {
    margin-right: 8%;
}

.sqlSidebar{
   border: 1px solid #ccc;
   height: 385px;
   overflow: auto;
}

.sqlTextarea textarea {
    min-width: 100%
}

.sqlFooterButtons button{
    width: 150px;
    margin:0px 2px 2px 2px;
}

.sqlFooter {
    display:inline;
    margin-top: 10px;
}
/**/

.popUpBody {
    background-color: #F7F6F6;
}

@media (min-width: 320px) and (max-width:768px) {
    .popUpBody {
        background-color: #F7F6F6;
        height: 500px;
        overflow: scroll;
    } 
}

.sqlButtons button{
    background-color: #ccc;
    width: 110px;
    margin:0px 2px 4px 4px;
}

.helperSearch {
    border: none;
    width: 100%;
    padding-left: 5%;
}

.helperDataSection li {
    list-style: none;
    padding-left: 5%;
}

.helperDataSection {
    background-color: #fff;
    width: 100%;
    margin-top: 3px;
    height: 200px;
    overflow: auto;
}

.helperDescriptionTab {
    margin-top: 8%;
}

.mnemonicsRadioSelection{
    margin: 0px 5px 15px 0px;
}

.popUpHeader {
    background-color: purple;
    color: #fff;
    padding: 8px;
}

.modal-close {
    color: #fff;
    margin: 0px;
    padding: 5px;
}

.helperDescription {
    background-color: #fff;
    height: 180px;
}

.btn-lightgray {
    color: #333333;
    background-color: #CCCCCC;
    border: 1px solid #F2F2F2;
    padding: 4px 10px 4px 10px;
}

.btn-blue {
    color: #FFFFFF;
    background-color: #006899;
    border: 1px solid #006899;
    padding: 4px 8px;
}

.btn-purple {
    color: #FFFFFF;
    background-color: #650360;
    border: 1px solid #650360;
    padding: 4px 8px;
}

.buildquery-tree-grid {
    height: 485px;
    overflow-y: auto;
    border: 1px solid #999999;
}

.sqlHiddenTabs {
    display: inline-block;
}

.form-group textarea {
    resize: none;
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 0px;
    border: 1px solid #AAAAAA;
    overflow-x: hidden;
}

.option-border-bottom:hover {
    background: #e4e4e4;
}
.option-border-bottom {
    border-bottom: 1px solid #e4e4e4;
}
.modal-content .modal-header {
    background: #650360;
    color: #FFFFFF!important;
    padding-top: 8px;
    padding-bottom: 8px;
}

.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.helperSection {
 max-height: 200px;
 overflow-y: auto;
 overflow-x: hidden;
}

.helperMnemonicsNames {
 background: #FFFFFF;
}

.helperMnemonicsNames > div {
 cursor:pointer;
}

.ngtree_node{
    border-bottom: 1px solid black;
}


